<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hello API </title>
</head>
<body>
    <h1>Hello API, Random Email Generator</h1>
    <div id="email-container">
        <ol>
            <li class="email" v-if='emails.length >=10'  v-for='email, i in emails'>{{email}}</li>
        </ol>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>